.image{
	position: relative;;
	width: 750px;
	height: auto;	
}
.text{
	position:absolute;
	left: 150px;
	right: auto;
	top: 200px;
	text-align: center;
	font-size: 400 px;
	color:white;
}
.about{
  font-size: xx-small;
	text-align:center;
}
#images{
	position:relative;
	width: 750px;
	height: 200px;
}
.container{
	position: relative;
}
.services{
	font-size:xx-small;
	position: absolute;
	right:auto;
	top:200px;
	text-align: center;
	color: white;
}
